
body  {
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 160%;
  color: #555459;
  line-height: 1.5rem;
    *zoom: 1;
}

.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

@media all and (max-width: 400px) {
  main {
    width: 100%;
  }
}

/* Form Styles */

input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}

input[type=radio] {
  width: auto;
}


.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
    font-size: 1.3rem;
    /*font-size: 400;*/
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}


/*buttons*/

fieldset {
  margin: 10px 0;
}

.textintro h1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

@media all and (max-width: 700px) {
  .search .formgroup {
    width: 50%;
  }

  .search .buttons {
    width: 100%;
    float: right;
  }
}

@media all and (max-width: 550px) {
  .search .formgroup {
    width: 100%;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}


.thumbnail {
    margin-top: 100px;
}

li {
    list-style:none;
}