<table class="table table-bordered table-striped" id="navbar">
  <thead>
  <tr>
    <td>Article</td>
    <td>Price</td>
    <td>Image</td>
    <td>Quantity</td>
    <td>Total</td>
    <td>Remove</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="product in cart">
    <td>{{product.title}}</td>
    <td>{{product.price}}</td>
    <td><img style="heigth:25%;width:40%" ng-src="{{product.imgUrl}}"/></td>
    <td> <md-input-container>
      <label> Quantity </label>
      <input type="number"
             min="1"
             max="{{product.quantity}}"
             ng-model="qte"
             placeholder="Select the Qte"
             id="quante"
             required/>
    </md-input-container>
      <p>{{product.qte}}</p>
      <h1>{{qte}}</h1>
    </td>
    <td><label style="color:black" >€ {{qte * product.price}}</label></td>
    <td>
      <button class="btn btn-danger"
              ng-click="delete(product)">
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </td>
  </tr>
  </tbody>
  <tfoot></tfoot>
</table>
