<table class="table table-bordered table-striped" id="navbar">
  <thead>
  <tr>
    <td><h2>Article</h2></td>
    <td><h2>Quantity</h2></td>
    <td><h2>Price/article</h2></td>
    <td><h2>Total</h2></td>
    <td><h2>Remove</h2></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="product in products | filter:searchBook | limitTo:maxSize:(currentPage - 1) * maxSize">
    <td style="width: 25%">
      <figcaption style="color: #DA3637"><h3>{{product.title}}</h3></figcaption>
      <img style="heigth:20%;width:100%" ng-src="{{product.imgUrl}}"/>
    </td>
    <td>
      <p><h2>{{product.qte}} from {{product.quantity}} available</h2></p>
    </td>
    <td><h2>€ {{product.price}}</h2></td>
    <td><h2>€ {{product.totalPrice}}</h2></td>
    <td>
      <button class="btn btn-danger" ng-click="deleteFromCart(product.productId)">
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </td>
  </tr>
  </tbody>
  <tfoot></tfoot>
</table>

<div>
  <button ng-click="PurchaseProds()">get Prods from Cart</button>
  <button ng-click="totalPrice()">total Price</button>
  <h1>Total Price : {{cartTotalPrice}}</h1>
</div>
