<section class="container" id="navbar">
  <div class="row">
        <img ng-src="public/img/events/{{event.imgUrl}}"
             alt="{{event.imgUrl}}"
             class="img-responsive event"
             style="float: left">
        <div class="col-xs-6">
          <h2 class="">{{event.name}}</h2>
          <p>{{event.description}}</p>
          <div class="new-btn">
            <a href=""
               ng-click="subscribe()"
               class="hvr-shutter-out-horizontal">Get Ticket</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fash-date">
            <h5>{{event.date |  date:"MM/dd"}}</h5>
          </div>
        </div>
  </div>
</section>