<div class="container">
    <div class="row">
        <form class="navbar-form navbar-left col-xs-5" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="article">
                </div>
            </div>
        </form>
    </div>

    <ul>
        <li class="col-xs-4" ng-repeat="p in pantal | filter : article">
            <a href="#/details/{{pantal.indexOf(p)}}">
            <div class="thumbnail">
                <figcaption><h3 style="text-align: center">{{p.nom}}</h3></figcaption>
                <img ng-src="public/img/men/{{p.img}}.jpg" alt="{{p.nom}}"/>
                <a href="#/details/{{pantal.indexOf(p)}}" class="btn btn-info btn-group-justified" role="button"><strong>Détails</strong></a>
            </div>
            </a>
        </li>
    </ul>
</div>
</div>