<div class="container-fluid row articles" id="navbar">
  <table class="table table-responsive table-hover ">
    <thead>
    <tr>
      <th>User Name</th>
      <th>Product ID</th>
      <th>Resevation Date</th>

    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="res in product.listReser">
      <td>{{res.username}}</td>
      <td>{{res.prodId}}</td>
      <td>{{res.dateRes}}</td>

    </tr>
    </tbody>
  </table>
    <!--<ul>-->
      <!--<li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prods"-->
          <!--ng-repeat="res in product.listReser">-->
        <!--<h4>{{res.userId}}</h4>-->
        <!--<h4>{{res.prodId}}</h4>-->
        <!--<h4>{{res.dateRes}}</h4>-->
      <!--</li>-->
    <!--</ul>-->
</div>
