<!--<div style="height: 305px">-->
  <!--<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">-->
    <!--<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">-->
      <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
      <!--<div class="carousel-caption">-->
        <!--<h4>Slide {{slide.id}}</h4>-->
        <!--<p>{{slide.text}}</p>-->
      <!--</div>-->
    <!--</uib-slide>-->
  <!--</uib-carousel>-->
<!--</div>-->

<div class="container-fluid row articles" id="navbar">
  <input type="text" ng-model="article" placeholder="Search for an article"/>
  <ul>
    <li class="col-xs-push-1 col-lg-5 col-md-5 col-sm-12 col-xs-12 prods"
        ng-repeat="item in products | filter : article| limitTo:maxSize:(currentPage - 1) * maxSize">
      <a href="#/articlesDetails/{{item._id}}">
        <img ng-src="public/img/prods/{{item.imgUrl}}" alt="{{item.imgUrl}}" class="prods img-responsive"/>
      </a>
      <figcaption>
        <h4 style="text-align: center">{{item.title}}</h4>
      </figcaption>
      <a href="#/articlesDetails/{{item._id}}"
         class="btn btn-info col-xs-push-2 col-xs-8 col-md-push-2 col-md-8"
         role="button"
         style="color: white">
        <strong>‎€ {{item.price}} per day... click for détails</strong>
      </a>
    </li>
  </ul>

</div>
<div class="col-md-12">
  <uib-pagination total-items="products.length" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>
</div>