<div class="container-fluid row articles" id="navbar">
  <div class="row container">
    <label class="col-xs-2" style="margin-top: 1em">
      <select ng-model="articleOrder">
        <option value="" disabled selected>Order By :</option>
        <option value="title">Name</option>
        <option value="price">Price</option>
      </select>
    </label>
    <div class="col-xs-2">
      <label class="col-xs-12 row" style="margin-top: 1em">
        <input type="radio" ng-model="direction" name="direction" checked> Ascending
      </label>
      <label class="col-xs-12 row" style="margin-top: 1em">
        <input type="radio" ng-model="direction" name="direction" value="reverse"> Descending
      </label>
    </div>
    <div class="col-xs-4">
      <span style="color: #265a88">Limit the price :</span>
      <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options">
      </rzslider>
    </div>
    <input type="text" ng-model="article" placeholder="Search for an article" class="col-xs-4" style="margin-top: 1.5em" />
  </div>
  <ul>
    <li class="col-xs-push-1 col-lg-5 col-md-5 col-sm-12 col-xs-12 prods" ng-repeat="item in products | filter : article| limitTo:maxSize:(currentPage - 1) * maxSize | orderBy:articleOrder:direction | byPrice:slider">
      <a href="#/articlesDetails/{{item._id}}">
        <img ng-src="public/img/prods/{{item.imgUrl}}" alt="{{item.imgUrl}}" class="prods img-responsive" />
      </a>
      <figcaption>
        <h4 style="text-align: center">{{item.title}}</h4>
      </figcaption>
      <a href="#/articlesDetails/{{item._id}}" class="btn btn-info col-xs-push-2 col-xs-8 col-md-push-2 col-md-8" role="button" style="color: white">
        <strong>‎€ {{item.price}} per day... click for détails</strong>
      </a>
    </li>
  </ul>

</div>
<div class="col-md-12">
  <uib-pagination total-items="products.length" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>
</div>