<div class="container row">
  <ul>
    <li class="col-xs-4 prods" ng-repeat="item in products | filter : article">
      <a href="#/suitDetails/{{item._id}}">
          <img ng-src="{{item.imgUrl}}" alt="{{item.imgUrl}}" class="prods img-responsive"/>
      </a>
      <figcaption>
        <h4 style="text-align: center">{{item.title}}</h4>
      </figcaption>
      <a href="#/details/{{products.indexOf(item)}}" class="btn btn-info btn-group-justified" role="button"><strong>{{item.price}}... click for détails</strong>
      </a>
    </li>
  </ul>
</div>