<table class="table table-hover table-responsive" id="navbar">
  <thead>
  <tr style="color: purple">
    <th><h3>First Name</h3></th>
    <th><h3>Last Name</h3></th>
    <th><h3>User Name</h3></th>
    <th><h3>Role</h3></th>
    <th><h3>Action</h3></th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="user in users">
    <td> {{user.firstname}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.username}}</td>
    <td>{{user.role}}</td>
    <td><span>
      <a href="#/userDetails/{{user._id}}"><button class="btn-info btn-sm">details</button></a>
      <button class="btn-danger" ng-click="removeUser(user._id)">X</button>
    </span></td>
  </tr>
  </tbody>
</table>
<div style="margin: 1em 0 0 1em">
    <span>
      <a href="#adminreg"><button class="btn btn-danger btn-lg">Add a User</button></a>
    </span>
</div>