<div class="container-fluid">
    <input style="margin: 1em" type="text" class="form-control" placeholder="Search for article" ng-model="article">
<ul style="list-style-type: none;">
    <li ng-repeat="item in articles | filter : article" class="col-xs-3">
        <a href="#/details/{{item._id}}">{{item.title}}</a>
        <div class="thumbnail">
        <a ng-href="#/details/{{item._id}}">

                <img ng-src="public/images/men/{{item.img}}.jpg" alt="{{item.title}}"/>
                <div class="caption">
                    <blockquote>{{item.title}}</blockquote>
                    <div>
                        <button class="btn btn-danger btn-sm">{{item.prix}}</button>
                    </div>
                </div>
        </a>
        <button class="btn btn-warning btn-group-justified">Buy</button>
        </div>
    </li>
</ul>
</div>