

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>Article</td>
        <td>Prix</td>
        <td>Quantité</td>
        <td>Total</td>
        <td>Retirer</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="produit in produits | filter:searchBook | limitTo:maxSize:(currentPage - 1) * maxSize">
        <td>{{produit.nom}}</td>
        <td>{{produit.prix}}</td>
        <td><input type="button" name="name" ng-model={{quantite}}></td>
        <td><input type="button" name="name" ng-model={{quantite*prix}}></td>

        <td>
            <a href="#/details/{{prod._id}}" class="btn btn-primary" ><span class="glyphicon glyphicon-zoom-in"></span></a>

            <!-- <button class="btn btn-danger" ng-click="deleteArticle(prod._id)"><span class="glyphicon glyphicon-remove-sign"></span></button> -->
        </td>
    </tr>
    </tbody>
</table>