.item {
    max-height: 600px;
}

.featurette {
    margin: 5em 5em;
}
.featurette-image {
    max-height: 500px;
}

.navbtn {
    font-size-adjust: 0.8;
    padding: 0.4em;
}
.navbar-brand {
    font-size-adjust: 0.8;
}
ul {list-style-type: none;}
.prods, .constr{
  display: block;
  margin: 1em auto;
}
.detl{
  margin: 5em auto;
}
.articles{
  margin : 1em auto;
}

#navbar {
  margin-top : 4em;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}


