<section class="card login">
    <form name="myform" ng-submit="log()" novalidate>
        <div class="textintro">
            <h1>Welcome Here!!</h1>
            <p>Please Log-In</p>
            <h2 class="error validationerror">{{errormsg}}</h2>
        </div>

        <fieldset>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true"/>
            <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched"> Please enter a valid Email</p>

            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true"/>
            <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Password Required</p>
        </fieldset>

        <button type="submit" class="btn" ng-disabled="myform.$invalid">Login</button>
        <a href="#home"></a>
    </form>
</section>