<ng-include src="'views/article-nav.html'"></ng-include>


<p>This is the article-view</p>

<h3>{{article.title}}</h3>

<p>{{article.description}}</p>

<section>
    <div ng-model="pantal" class="dtl col-xs-6 col-xs-offset-3">
        <div class="thumbnail">
            <h2 style="">{{article.title}}</h2>
            <img src="../images/men/{{article.img}}.jpg" alt="{{article.title}}"/>
            <div class="caption">
                <h2>{{article.prix}}</h2>
                <p><strong>{{article.description}}</strong></p>
                <a href="#/login" class="btn btn-info btn-lg" role="button"><strong>Ajouter au panier</strong></a>
            </div>
        </div>
    </div>
</section>

