<!--Carousel-->
<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="../images/1.jpg" /></a>
      <div class="carousel-caption">
        <h3>Shop Anytime, from Everwhere</h3>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="../images/2.jpg" /></a>
      <div class="carousel-caption">
        <h3>Shop Anytime, from Everwhere</h3>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="../images/3.jpg" /></a>
      <div class="carousel-caption">
        <h3>Shop Anytime, from Everwhere</h3>

      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<!--Articles-->
<div class="container-fluid">
  <input type="text" class="form-control" placeholder="Search for article" ng-model="article">
  <ul>
    <li class="col-xs-3" ng-repeat="item in articles | filter : article">
      <a href="#/details/{{articles.indexOf(p)}}">
        <div class="thumbnail">
          <img ng-src="../images/men/{{item.img}}.jpg" alt="{{item.title}}"/>
          <div class="caption">
            <blockquote>{{item.title}}</blockquote>
            <div>
              <a href="#/details/{{articles.indexOf(item)}}" class="btn btn-info btn-lg" role="button"><strong>Détails</strong></a>
              <button class="btn btn-danger btn-sm">{{item.prix}}</button>
            </div>

          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

