<h1>{{message}}</h1>
<ul >
  <li ng-repeat="item in articles">
    <h4>{{item.title}}</h4>
  </li>
</ul>

<div class="container-fluid">
  <input type="text" class="form-control" placeholder="Search for article" ng-model="article">
  <ul>
    <li class="col-xs-3" ng-repeat="item in articles | filter : article">
      <a href="#/details/{{pantal.indexOf(p)}}">
        <div class="thumbnail">
          <img ng-src="img/men/{{p.img}}.jpg" alt="{{p.nom}}"/>
          <div class="caption">
            <blockquote>{{item.title}}</blockquote>
            <a href="#/details/{{pantal.indexOf(p)}}" class="btn btn-info btn-lg" role="button"><strong>Détails</strong></a>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

